<h1> Show List </h1>

<p><%= @list.name %></p>

<%= link_to 'add a movie', new_list_bookmark_path(@list), class: 'btn btn-flat' %> <%# Why is this the link to add new movie? %>
<%= link_to 'detete this list', list_path(@list), method: :delete, class: 'btn btn-cancel', data: { confirm: 'Are you sure you want to delete this list?' } %>

<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <%= movie.title %> <%= movie.rating %>
  <%= bookmark.comment %>
  <%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
<% end %>
